---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const projects = (await getCollection("projects")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
const last_projects = projects.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Halo 👋</div>
    <div class="text-5xl font-bold">I'm Barry Mikhael Cavin</div>
    <div class="text-3xl py-3 font-bold">Education Consultant and Data Scientist</div>
    <div class="py-2">
      <text class="text-lg">
        The primary goal of my personal endeavour is to help people to learn better. Professionally, I am currently working as a Sr Content Manager at <a href="https://www.govtechedu.id/" target="_blank" class="underline decoration-pink-500 hover:decoration-indigo-500">Govtech Edu</a>.
        We develop content to help >2mio Indonesian teachers developing further professionally and delivering learning more optimally.
        Alongside my job at Govtech Edu, I also do research within the area of game theoretical model of education.
        My work explores different ways of analyzing and modeling interactions between education agents to make better decisions and design better interventions,
        including but not limited to teacher trainings and government policies.<br>
        <b>Let's collaborate! </b>
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://linkedin.com/in/barrysianturi" target="_blank"> Let's connect!</a>
      <a href="mailto:barrys.sianturi@gmail.com" target="_blank" class="btn btn-outline ml-5">
        Email me!
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  {
    last_projects.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/projects/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
